.title {
  margin-left: 1rem;
  h2 {
    width: 100%;
    color: rgb(27, 0, 136);
    font-family: 'Latam Sans';
    font-style: italic;
    font-weight: normal;
    font-size: 26px;
    line-height: 31px;
  }
}
