.idavuelta-dropdown {
  position: absolute;
  top: 110px;
  left: 90px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  z-index: 30;
  box-shadow: rgb(48 48 48 / 20%) 0px 0.25rem 0.5rem;
}
.line {
  border-top: 1px dashed #303030;
}
.box-drop {
  button {
    background-color: transparent;
    border: none;
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
    margin: 5px;
    border-radius: 8px;
    padding: 0 20px;
    &:hover {
      background-color: rgb(226, 230, 255);
    }
  }
}
