.cityNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  width: 270px;
  height: 100%;
  border: none;
  cursor: pointer;
  overflow: hidden;
  background-color: #fff;
}
.cityNav__cities {
  font-style: italic;
  font-weight: 700;
  color: #1b0088;
}
.cityNav__direction {
  font-size: 0.9rem;
  color: #777;
}
