.passengersContainer {
  width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h2 {
    padding: 1rem;
    font-weight: lighter;
    font-style: italic;
    color: #1b0088;
  }
}
.passengersContainer__header {
  position: sticky;
  top: 6rem;
  z-index: 50;
}
.passengersContainer__data {
  height: 100%;
}
.passengersContainer__flightSelector {
  position: sticky;
  bottom: 0;
  padding: 0.5rem 1rem;
  border-top: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  z-index: 50;
  div {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    button {
      background: none;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      color: #1b0088;
      cursor: pointer;
    }
    p {
      font-weight: 700;
    }
  }
}
.passengersContainer__flightSelector--buttonNext {
  padding: 1rem 2rem;
  background-color: #e8114b;
  color: #fff;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 1.2rem;
  border: none;
  height: 3.5rem;
  cursor: pointer;
}
