.flight1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  height: 80px;
  width: 500px;
  border: 1px rgb(255, 255, 255);
  box-shadow: 3px 3px 3px 3px rgb(236, 232, 232);
  border-radius: 0.3rem;
  padding: 0.5rem;
}
.changeflight {
  margin-top: 8px;
  height: 80%;
  size: 16px;
  border: none;
  border-left: 1px solid rgb(236, 232, 232);
  background-color: white;
  color: rgb(232, 17, 75);
  cursor: pointer;
}
.flight1_city {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0.5rem;
  p {
    margin: 0;

    font-size: 1.5rem;
    font-weight: 500;
    font-style: normal;
    color: rgb(27, 0, 136);
  }
  span {
    color: rgb(92, 92, 92);
  }
}
.flight1_duration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0.5rem;
  p {
    margin: 0;
    font-weight: 700;
    font-style: normal;
    color: rgb(92, 92, 92);
  }
}
