* {
  padding: 0;
}
html,
body {
  font-family: var(--fontFamily);
  font-size: 16px;
  color: var(--fontColor);
}
#root {
  height: 100%;
}
a:visited {
  color: rgb(102, 23, 163);
}
a {
  color: rgb(70, 88, 223);
  cursor: pointer;
  text-decoration: none;
}
hr {
  color: #dfdfdf;
}
button {
  overflow: visible;
}
