@font-face {
  font-family: 'LATAM Sans';
  src: url(../../fonts/latam_sans_bold-webfont.woff) format('woff');
  font-weight: bold;
}
@font-face {
  font-family: 'LATAM Sans';
  src: url(../../fonts/latam_sans_light_italic-webfont.woff) format('woff');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'LATAM Sans';
  src: url(../../fonts/latam_sans_light-webfont.woff) format('woff');
  font-weight: 300;
}
@font-face {
  font-family: 'LATAM Sans';
  src: url(../../fonts/latam_sans_regular_italic-webfont.woff) format('woff');
  font-style: italic;
}
@font-face {
  font-family: 'LATAM Sans';
  src: url(../../fonts/latam_sans_regular-webfont.woff) format('woff');
}
