.container-login {
  width: 400px;
  height: 450px;
  padding: 20px;
  margin: auto;
  box-sizing: border-box;
  background-color: white;
  border-radius: 15px;
  border: 2px solid rgb(238, 227, 227);
  display: flex;
  flex-direction: column;
  align-content: center;
  font-family: 'LATAM Sans';
  border: 2px solid rgb(238, 227, 227);
  box-shadow: 2px 2px 3px 1px rgb(241, 238, 238);
  border-radius: 15px;

  form {
    display: flex;
    flex-direction: column;

    div {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      height: 50px;
    }
    input {
      height: 100px;
      margin-top: 10px;
    }
  }

  h1 {
    color: rgb(11, 11, 126);
  }

  .logo {
    margin-top: 50px;
    margin-left: 10px;
    max-width: 120px;
  }
  button {
    width: 100%;
    height: 50px;
    background-color: rgb(226, 0, 68);
    color: white;
    border-radius: 5px;
    padding: 8px;
    border-color: rgb(226, 0, 68);
    margin-top: 20px;
    font-size: medium;
  }
  button:hover {
    cursor: pointer;
    background-color: rgb(221, 30, 87);

    input {
      width: 100%;
      height: 50px;
    }
  }
  link:hover {
    color: rgb(17, 0, 112);
    text-decoration: none;
    font-size: medium;
  }
  input:hover {
    border: 1px solid rgb(230, 11, 77);
  }

  input:focus {
    border-style: inset;
    border: 3px solid rgb(27, 4, 156);
    outline-color: rgb(27, 0, 136);
  }

  input:checked {
    border: 3px solid rgb(24, 5, 129);
  }
  .input-login {
    input {
      padding: 2px 5px;
    }
  }
}
.background-container-login {
  background-image: url(https://s.latamairlines.com/images/auth0/login/background.svg);
  background-size: cover;
}
.window-login {
  padding-top: 100px;

  .register-login {
    text-align: center;
    height: 100px;
    padding-left: 30px;
    padding-top: 100px;
    .register-p {
      align-content: center;
      text-align: center;
    }
  }
}
.register-p {
  text-align: center;
}
