.big-footer-container {
  height: auto;
  width: 0 auto;
  max-width: 89.75rem;
}

.bg-ftr-cntnr-margins {
  margin-bottom: 1.25rem;
  padding: 0px 1rem;

  @media (min-width: 992px) {
  }
  @media (min-width: 992px) {
  }
}
