.btn-divisa {
  display: none;
}
.btn-divisa {
  @media (min-width: 64rem) {
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(243, 242, 246);
    -webkit-box-pack: center;
    justify-content: center;
    line-height: 1;
    font-size: 0.75rem;
    font-weight: 400;
    margin: auto 0px;
    background: transparent;
    border: none;
    cursor: pointer;
    appearance: button;
    font-family: inherit;
  }
  span {
    @media (min-width) {
      display: block;
      width: max-content;
      font-weight: 700;
      margin-left: 0.25rem;
      color: rgb(255, 255, 255);
    }
  }
}
