.dropdown-menu-OyD {
  position: absolute;
  top: 40px;
  left: 45px;
  z-index: 20;
  background-color: #fff;
  border-radius: 8px;
  width: 290px;
  box-shadow: rgb(48 48 48 / 20%) 0px 0.25rem 0.5rem;
}
.dropdown-menu-item {
  a {
    color: #303030;
    span {
      margin: 0 10px;
    }
  }
  padding: 15px 12px 15px 12px;
  margin: 10px 8px;
  border-radius: 8px;
  &:hover {
    background-color: rgb(226, 230, 255);
  }
}
.dropdown-menu-disable {
  display: none;
}
.dropdown-menu-MV {
  position: absolute;
  top: 40px;
  left: 225px;
  z-index: 20;
  background-color: #fff;
  border-radius: 8px;
  width: 290px;
  box-shadow: rgb(48 48 48 / 20%) 0px 0.25rem 0.5rem;
}
