.CommonButton__container {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;

  .CommonButton__button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    background-color: rgb(232, 17, 75);
    color: rgb(255, 255, 255);
    border: none;
    font-size: 1.125rem;
    height: 2.5rem;
    width: 90%;
    margin: 0 auto;

    border-radius: 10px;
    &:hover {
      background-color: rgb(233, 88, 120);
      border: 0.0625rem solid rgb(233, 88, 120);
    }
  }
}
